.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fighters-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #ccc;
  border: 1px solid #858585;
  border-radius: 5px;
  width: min-content;
  min-width: 840px;
  min-height: min-content;
}

.fighter {
  height: 200px;
  width: 200px;
  background-color: red;
  transition: transform 0.3s;
  background-size: cover;
  border: 5px solid transparent;
  background-repeat: no-repeat;
}

.fighter:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: 5px solid white
}

.fighter-screen {
  background-color: #fff;
  border: 1px solid blue;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
}

.name-bg {
  font-size: 65em;
  position: absolute;
  top: -20%;
  left: -0%;
  z-index: -2;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  color: lightgrey;
}

.name-fg {
  font-size: 25em;
  font-family: 'Bebas Neue', cursive;
  position: absolute;
  left: 8%;
}

.char-portrait {
  position: absolute;
  right: -10%;
  top: 1%;
  z-index: -1;
}

.side-nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index:1;
}